<html>
  <head>
    <style>
      .mli {
        color: blue
      }
    </style>
  </head>
  <body>
    <div id="say">
      {{ info }}
      <br/>
      <input v-model="info" type="text"/> <button @click="handleClick">确定</button>
      <ul>
        <my-li v-for="item in list" :text="item" />
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>

      Vue.component('my-li', {
        props: ['text'],
        template: '<li class="mli">{{ text }}</li>'
      })

      new Vue({
        el: '#say',
        data() {
          return {
            info: '',
            list: []
          }
        },
        methods: {
          handleClick() {
            this.list.push(this.info)
            this.info = ''
          }
        }
      })
    </script>
  </body>
</html>